fastapi
uvicorn[standard]
python-multipart
pytesseract
Pillow
pytest
pymupdf
frontend
tools
pprint
# easyocr
# paddleocr
paddlepaddle==3.1.0 -i https://www.paddlepaddle.org.cn/packages/stable/cpu/
"paddleocr>=2.6.1.3"